.root{
    background-color:rgb(188, 187, 187);
    height:100vh;
    width:100vw;
    margin:0 auto;
}
.upper_part{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.parent{
    display:flex;
    height:400px;
}
.main_part{
    width: 70vw;
    background-color: beige;
}
.first_row{
    display:flex;
    justify-content:center;
    height:30%;
    padding-top:20px;
    padding-bottom:20px;
    font-weight: bold;
}
.second_row{
    display:flex;
    justify-content: space-between;
    height:25%;
    margin-left:10px;
    margin-right:10px;
}
.first{
    display:flex;
    justify-content: center;
    width:280px;
    background-color: orange;
    font-weight: bolder;
    padding:30px;
    margin-bottom:10px;
}
.second{
    display:flex;
    justify-content: center;
    width:280px;
    background-color: orange;
    font-weight: bolder;
    padding:30px;
    margin-bottom:10px;
}
.third_row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:20%;
    background-color: orange;
    margin-left:10px;
    margin-right:10px;
    padding:20px;
    font-weight: bolder;
}
.side_part{
    display:flex;
    justify-content:center;
    width: 30vw;
    background-color: lightgreen;
    font-weight:bolder;
    padding-top:10px;
}
.bottom_part{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:150px;
    margin: 20px;
}
.item_1{
    padding: 20px;
    background-color: lightgrey;
    font-weight: bold;
}
.item_2{
    padding: 20px;
    background-color: lightgrey;
    font-weight: bold;
}
.item_3{
    padding: 20px;
    background-color: lightgrey;
    font-weight: bold;
}
.item_4{
    padding: 20px;
    background-color: lightgrey;
    font-weight: bold;
}